*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100hv;
    justify-content: center;
    align-items: center;
}

.slide{
    position: fixed;
    overflow: hidden;
    margin-top: -398em;
    margin-left: 50em;
    max-height: 0;
    height: 100vh;
    width: 270px;
    background-color: white;
    border-radius: 20px;
    transition: 
      max-height 0.5s ease,
      opacity 0.5s ease,
      transform 0.5s ease;
    transform: translateX(20em);
    cursor: pointer;
    opacity: 0;
}

.check {
    visibility: hidden;
}


h2{
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    text-shadow:
       -1px -1px 0 black,  
        1px -1px 0 black,
       -1px  1px 0 black,
        1px  1px 0 black;
    background-color: rgb(221, 221, 82);
    border-radius: 40px;
    font-weight: 800;
    width: 25vh;
    margin-left: 10px;
    padding: 10px 0;
    padding-right: 10px;
    pointer-events: none;
}

.bidi {
    list-style-type: none;
}

.bidi .li-0 .a-0{
    margin-top: 15vh;
    transform: translateX(20px);
    color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
    padding: 5px;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    transition: 0.2s ease-out;
    width: 10vh;
}

.bidi .li-1 .a-1{
    transform: translateX(20px);
    color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
    padding: 5px;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    transition: 0.2s ease-out;
    width: 10vh;
}

.bidi .li-2 .a-2{
    transform: translateX(20px);
    color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
    padding: 5px;
    font-size: 25px;
    display:inline-block;
    text-decoration:none;
    transition: 0.2s ease-out;
    width: 10vh;
}

.hr-0 {
    border: none;
    position: absolute;
    top: 13vh;
    right: 24px;
    width: 35vh;
    height: 3px;
    background-color: black;
}

.hr-1 {
    border: none;
    position: absolute;
    top: 37vh;
    right: 24px;
    width: 35vh;
    height: 3px;
    background-color: black;
}

.p-0{
    font-size: 30px;
    margin-top: 10vh;
    margin-left: 10px;
    justify-content: center;
    color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
    display:flex;
    transition: 0.2s ease-out;
}

.p-1{
    margin-top: -38px;
    margin-left: 14vh;
    font-size: 30px;
    color: white;
    text-shadow:
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
    display:flex;
    transition: 0.2s ease-out;
}

.ap {
    text-decoration: none;
    color: white;
}

.Profile {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.bidi .li-1:hover .a-1, .bidi .li-2:hover .a-2, .bidi .li-0:hover .a-0 {
    width: 33vh;
    color: white;
    background-color: violet;
}

.iim {
    position: inherit;
    margin-top: 3px;
    margin-left: 8vh;
    width: 30px;
    height: 30px;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 60px;
    right: 10vh;
    top: 35px;
    z-index: 0;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: rgb(221, 221, 87);
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .slide{
    margin-top: -398.5em;
    margin-left: 52em;
    transform: translateX(15em);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-out;
    opacity: 1;
    z-index: 1;
    overflow: visible;
    max-height: 100%;
}

.h1 {
    text-align: center;
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke: 2px rgb(37, 94, 20);
}

.h1-1{
    margin-top: 1em;
    text-align: center;
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke: 2px rgb(37, 94, 20);
}

.school{
    margin-top: 1em;
    text-align: center;
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke: 2px rgb(37, 94, 20);
}

img {
    margin-top: 10px;
    margin-left: 1em;
    width: 30%;
    height: 30%;
}

.img-11{
    margin-left: 30em;
    margin-top: 1em;
    border-radius: 20px;
}

.img-1{
    border-radius: 20px;
    margin-left: 14em;
    margin-right: -5em;
    gap: 100px;
    margin-top: 2em;
    margin-bottom: 20px;
}

.img-111{
    border-radius: 20px;
    margin-left: 30em;
    margin-top: 2em;
    margin-bottom: 20px;
}